<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='用户管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">事项名称</label>
                <div class="layui-input-inline">
                    <input id="doooName1" name="doooName" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属部门</label>
                <div class="layui-input-inline">
                    <select name="departmentId" id="departmentSearch" autocomplete="off">
                        <option value=""></option>
                    </select>
                </div>
                <label class="layui-form-label">所属类型</label>
                <div class="layui-input-inline">
                    <select name="approvalType" id="approvalType" autocomplete="off">
                        <option value=""></option>
                        <option value="3">审批通过</option>
                        <option value="1">待审批</option>
                        <option value="2">审批中</option>
                    </select>
                </div>
            </div>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">提交</button>
        </form>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>

        <button class="layui-btn layui-btn-normal" onclick="addUser()">新增事项</button>

        <table id="uesrList" lay-filter="userTable"></table>
        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>

        <script type="text/html" id="jobTpl">
            {{#  if(!d.job){ }}
            <input type="checkbox" name="{{d.username}}_{{d.version}}" value="{{d.id}}" lay-skin="switch" lay-text="在职|离职" lay-filter="isJobTpl" checked="checked" />
            {{#  } else { }}
            <input type="checkbox" name="{{d.username}}_{{d.version}}" value="{{d.id}}" lay-skin="switch" lay-text="在职|离职" lay-filter="isJobTpl"/>
            {{#  } }}
        </script>

        <script type="text/html" id="optBar">
            {{# if(d.approvalType === 1){}}
            <a class="layui-btn layui-btn-xs" lay-event="put">通过</a>
            <a class="layui-btn layui-btn-xs" lay-event="select">详情</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            {{#  } else if(d.approvalType === 2){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="recover">撤回</a>
            {{#  } else { }}
            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="recover">退订</a>
            <a class="layui-btn layui-btn-xs" lay-event="select">详情</a>
            {{#  } }}
        </script>
    </div>


    <!--添加或编辑用户-->
    <div id="setUser" class="layer_self_wrap" style="width:500px;display:none;height: 600px">
        <form id="doooForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">事项编码</label>
                <div class="layui-input-inline" style="width: 355px">
                    <input id="carry_out_code" name="carry_out_code" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="userSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>


    <!--添加或编辑用户-->
    <div id="setUser2" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="doooForm2" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input type="hidden" id="doooId3" name="doooId" />
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">提交说明</label>
                <div class="layui-input-block">
                    <textarea name="approval_type" placeholder="请输入内容" class="layui-textarea" id="approval_type"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" onclick="put()">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/organ/itemList.js"></script>
    <script>
    layui.use(['form', 'upload', 'layer'], function () {

    var form = layui.form;

    　　　　

    //检查项目添加到下拉框中
    $.ajax({
    url: '/department/getDepartments',
    dataType: 'json',
    type: 'get',
    success: function (data) {
    $.each(data, function (index, item) {
    $('#departmentSearch').append(new Option(item.departmentName, item.departmentId));// 下拉菜单里添加元素
    $('#departmentInsert').append(new Option(item.departmentName, item.departmentId));// 下拉菜单里添加元素
    });
    layui.form.render("select");

    //重新渲染 固定写法
    }
    })

    });


    $.ajax({
        type: "POST",
        data:{'level':2,'page':1,'limit':999},
        url: "/constructionDictionary/getConstructionDictionaryList",
        success: function (data) {
            console.log(data.list.length);
            $.each(data.list, function (index, item) {
                $('#constructionDictionaryId').append(new Option(item.name, item.constructionDictionaryId));// 下拉菜单里添加元素
            })
        }
    });
    </script>
</div>
</body>
</html>