<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='系统管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">
        <h3 style="color: #009688">录入新表单项</h3>
        <form id="Form" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">name属性</label>
                <input id="formFieldComboId" name="formFieldComboId" th:value="${comboId}" autocomplete="off" class="layui-input" type="hidden"/>
                <input id="pid" name="pid" th:value="${formId}" autocomplete="off" class="layui-input" type="hidden"/>
                <input id="formFieldClass" name="formFieldClass" th:value="${formFieldClass}" autocomplete="off" class="layui-input" type="hidden"/>
                <div class="layui-input-inline">
                    <input id="formFieldName" name="formFieldName" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">名称内容</label>
                <div class="layui-input-inline">
                    <input id="formFieldNameValue" name="formFieldNameValue" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">属性类型</label>
                <div class="layui-input-inline">
                    <select name="formFieldType" id="formFieldType" autocomplete="off">
                        <option value="">请选择</option>
                        <option value="0">输入框</option>
                        <option value="1">下拉</option>
                        <option value="2">单选</option>
                        <option value="3">多选</option>
                        <option value="4">文本域</option>
                        <option value="5">上传</option>
                    </select>
                </div>
                <label class="layui-form-label">内容</label>
                <div class="layui-input-inline">
                    <input id="formFieldContent" name="formFieldContent" autocomplete="off" class="layui-input" style="width: 600px" type="text" placeholder="请输入内容，下拉/多选/单选=序号:内容,序号:内容,..."/>
<!--                    <textarea name="formFieldContent"  class="layui-textarea" id="formFieldContent" style="width: 400px"></textarea>-->
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数据类型</label>
                <div class="layui-input-inline">
                    <select name="formFieldIsBasis" id="formFieldIsBasis" autocomplete="off">
                        <option value="">请选择</option>
                        <option value="1">基础数据</option>
                        <option value="2">情形数据</option>
                    </select>
                </div>
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input id="formFieldAnnotation" name="formFieldAnnotation" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn"  lay-submit="" lay-filter="userSubmit">完成</button>
            </div>

        </form>

        <hr class="layui-bg-black"/>
                <h3 style="color: #009688">搜索表单项</h3>
                <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">name属性</label>
                        <div class="layui-input-inline">
                            <input id="formFieldName1" name="formFieldName" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                        <label class="layui-form-label">名称内容</label>
                        <div class="layui-input-inline">
                            <input id="formFieldNameValue1" name="formFieldNameValue" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                        <label class="layui-form-label">属性类型</label>
                        <div class="layui-input-inline">
                            <select name="formFieldType" id="formFieldType1" autocomplete="off">
                                <option value="">请选择</option>
                                <option value="0">输入框</option>
                                <option value="1">下拉</option>
                                <option value="2">单选</option>
                                <option value="3">多选</option>
                                <option value="4">文本域</option>
                                <option value="5">上传</option>
                            </select>
                        </div>
                        <label class="layui-form-label">数据类型</label>
                        <div class="layui-input-inline">
                            <select name="formFieldIsBasis" id="formFieldIsBasis1" autocomplete="off">
                                <option value="">请选择</option>
                                <option value="1">基础数据</option>
                                <option value="2">情形数据</option>
                            </select>
                        </div>
                    </div>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">搜索</button>
                </form>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>


        <table id="uesrList" lay-filter="userTable"></table>
        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>

        <script type="text/html" id="jobTpl2">
            {{#  if(d.formFieldIsBasis == 1){ }}
            <span>基础数据</span>
            {{#  } else if(d.formFieldIsBasis == 2) { }}
            <span>情形数据</span>
            {{#  } }}
        </script>

        <script type="text/html" id="jobTpl">
            {{#  if(d.formFieldType == 0){ }}
            <span>输入框</span>
            {{#  } else if(d.formFieldType == 1){ }}
            <span>下拉</span>
            {{#  } else if(d.formFieldType == 2){ }}
            <span>单选</span>
            {{#  } else if(d.formFieldType == 3){ }}
            <span>多选</span>
            {{#  } else if(d.formFieldType == 4){ }}
            <span>文本域</span>
            {{#  } else if(d.formFieldType == 5){ }}
            <span>上传</span>
            {{#  } }}
        </script>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="put">子情形</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>


    <!--添加或编辑用户-->
    <div id="setUser" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="Form2" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">name属性</label>
                <input id="formFieldComboId2" name="formFieldComboId" th:value="${comboId}" autocomplete="off" class="layui-input" type="hidden"/>
                <input id="formFieldId" name="formFieldId" autocomplete="off" class="layui-input" type="hidden"/>
                <div class="layui-input-inline">
                    <input id="formFieldName2" name="formFieldName" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">名称内容</label>
                <div class="layui-input-inline">
                    <input id="formFieldNameValue2" name="formFieldNameValue" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">属性类型</label>
                <div class="layui-input-inline">
                    <select name="formFieldType" id="formFieldType2" autocomplete="off">
                        <option value="">请选择</option>
                        <option value="0">输入框</option>
                        <option value="1">下拉</option>
                        <option value="2">单选</option>
                        <option value="3">多选</option>
                        <option value="4">文本域</option>
                        <option value="5">上传</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-inline">
                    <input id="formFieldContent2" name="formFieldContent" autocomplete="off" class="layui-input" style="width: 600px" type="text" placeholder="请输入内容，下拉/多选/单选=序号:内容,序号:内容,..."/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">数据类型</label>
                <div class="layui-input-inline">
                    <select name="formFieldIsBasis" id="formFieldIsBasis2" autocomplete="off">
                        <option value="">请选择</option>
                        <option value="1">基础数据</option>
                        <option value="2">情形数据</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input id="formFieldAnnotation2" name="formFieldAnnotation" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <button class="layui-btn"  lay-submit="" lay-filter="userSubmit2">完成</button>
        </form>
    </div>


    <!--添加或编辑用户-->
    <div id="setUser2" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="doooForm2" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input type="hidden" id="doooId3" name="doooId" />
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">提交说明</label>
                <div class="layui-input-block">
                    <textarea name="approval_type" placeholder="请输入内容" class="layui-textarea" id="approval_type"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" onclick="put()">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/form/formDetails2.js"></script>
</div>
</body>
</html>