<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyait.manage.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.wyait.manage.pojo.Department" >
    <id column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="new_time" property="newTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="getDepartments" resultType="com.wyait.manage.pojo.Department">
    select *
    from department
    <where>
      <if test="department.departmentName!=null and department.departmentName!=''">
        department_name like CONCAT(CONCAT('%',#{department.departmentName}),
        '%')
      </if>
    </where>
    order by new_time desc
  </select>

  <select id="getDepartmentByName" resultType="com.wyait.manage.pojo.Department">
        select * from department where department_name = #{departmentName}
  </select>

  <select id="getDepartmentByNameById" resultType="com.wyait.manage.pojo.Department">
        select * from department where department_name = #{departmentName} and department_id != #{departmentId}
  </select>

  <update id="updateDepartment" parameterType="com.wyait.manage.pojo.Department">
      update department
      <set>
        <if test="departmentName != null and departmentName != ''">
          department_name = #{departmentName,jdbcType=VARCHAR},
        </if>
        <if test="type != null and type != ''">
          type = #{type,jdbcType=INTEGER},
        </if>
        <if test="newTime != null">
          new_time = #{newTime,jdbcType=TIMESTAMP},
        </if>
        update_time = #{updateTime,jdbcType=TIMESTAMP}
      </set>
      where department_id = #{departmentId,jdbcType=INTEGER}
  </update>

  <insert id="insertDepartment" parameterType="com.wyait.manage.pojo.Department">
        insert into department ( department_name,
		type,new_time, update_time
		)
		values (#{departmentName,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER},
		#{newTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
		)
  </insert>

  <delete id="delDepartment" parameterType="int">
        DELETE FROM department WHERE department_id = #{departmentId}
  </delete>


  <select id="getAllDepartments" resultType="com.wyait.manage.pojo.Department">
        select * from department
  </select>

  <select id="getDepartmentById" resultType="com.wyait.manage.pojo.Department">
        select * from department where department_id = #{departmentId}
  </select>

</mapper>
